<div ui-content-for="title">
    <span>Carousel with $drag</span>
</div>

<div class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item"
             style='background-image: url("../sockjs-client/images/1.jpg");'>
        </div>
        <div class="carousel-item"
             style='background-image: url("../sockjs-client/images/2.jpg");'>
        </div>
        <div class="carousel-item"
             style='background-image: url("../sockjs-client/images/3.jpg");'>
        </div>
    </div>
</div>